/* Container Principal */
@keyframes breeze {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 10px;
    }
    100% {
        background-position: 0 0;
    }
}

.home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.050) 1px, transparent 1px) 0 0;
    background-size: 100% 20px;
    animation: breeze 5s ease-in-out infinite;
    background-color: #111111; /* Cor de fundo de fallback */
}



/* Seção de Conteúdo */
.home .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

/* Títulos*/
.home .content h1 {
    font-size: 4rem;
    color: var(--text-color);
    text-transform: none;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 
      "ELGR" 1,
      "ELSH" 2;
    letter-spacing: 0.1rem;
    color: #8802b1
}

.home .content h3 {
    font-size: 2rem;
    color: var(--text-color);
    text-transform: none;
}

/* Parágrafos e span*/
.home .content p {
    color: var(--text-color);
    font-size: 3rem;
    line-height: 1.5;
    width: 70rem;
    margin-bottom: 1rem;
    text-align: left;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
    letter-spacing: 0.1rem;
}

.home .content p span {
    color: #ffffff;
    font-size: 2.8rem;
    line-height: 1.5;
    width: 50rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;
    font-variation-settings:
    "ELGR" 3,
    "ELSH" 3;
    letter-spacing: 0.2rem;
}

/* Botões */
.home .content .flex-btn .btn {
    color: white;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0.2rem solid white;
    border-radius: 3rem;
    text-transform: uppercase; /* Adicionado para consistência */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.home .content .flex-btn .btn:hover {
    background-color: white;
    color: var(--bg-color);
}

/* Ícones */
.home .content .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.home .content .icons i {
    color: var(--main-color);
    font-size: 3rem; /* Aumenta o tamanho do ícone */
    border: 0.2rem solid var(--main-color);
    padding: 1rem; /* Ajusta o padding para garantir que a borda seja proporcional ao ícone */
    border-radius: 50%; /* Faz o contorno em forma de círculo */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

.home .content .icons i:hover {
    transform: scale(1.1); /* Leve aumento ao passar o mouse */
    box-shadow: 0 0 0.5rem var(--main-color); /* Adiciona uma sombra ao redor do ícone */
}


/* Imagem */
.home .image{
    padding-left: 50px;
}

.home img {
    border-radius: 20px; /* Bordas arredondadas */
    height: 30rem; /* Tamanho reduzido */
    width: 30rem; /* Tamanho reduzido */
    object-fit: cover; /* Mantém a imagem ajustada */
    box-shadow: 0 0 3rem var(--main-color); /* Efeito de sombra opcional */
    
}

.home img:hover {
    box-shadow: 0 0 2.5rem var(--main-color),
                0 0 5rem var(--main-color),
                0 0 10rem var(--main-color);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-text {
    animation: blink 1s step-start infinite;
}