@media(max-width:450px){
    
    .home .content p{
        width: 35rem;
    }

    .educacao .timeline-items{
        display: grid;

    }

    .contato .form-container form{
        display: grid;
       
    }

    .contato .form-container form .inputs,
    .contato .form-container form .text{
    width: 100%;
}

.contato .form-container form .inputs .input,
.contato .form-container form .text textarea{
   
    width: 100%;
}

.contato{
    padding: 1rem 0;
}
}